:root {
    --primary-color: #19c37d;
}

.input {
    width: 100%;
    background: #3d3d3d;
    border: 0;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: medium;
    color: white; 
    font-family: 'Inter', sans-serif;
    border-bottom: 2px solid #00000000;
}

.input:focus {
    border-bottom: 2px solid var(--primary-color);
    outline: none;
}

.button {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: white;
    border: 0;
    font-size: large;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    height: 100%;
}